@*<div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Logout", "Logout", "Login")<br />
    }
    else
    {
        @Html.ActionLink("Login", "Login", "Login")
    }
</div>*@