<link href="~/Content/submenu.css" rel="stylesheet" type="text/css" />

<div id="categories">
    @Html.Action("_Categories", "Category")
</div>


<img id="loading" src="@Url.Content("~/Images/loader.gif")" style="display:none" alt="" />


<div id="adsList">
    @Html.Action("List", "Ad")
</div>

<div id="results"></div>
