@{
    List<Common.Models.Category> menuList = ViewBag.Menu;
}

<link href="~/Content/submenu.css" rel="stylesheet" type="text/css" />

<nav>
    <ul>
        @foreach (var mp in menuList.Where(p => p.ParentCategoryId == 0))
        {
            <li>
                @Html.ActionLink(mp.CategoryName, "_AdList", "Ad", new { id = mp.CategoryId }, null)
                @if (menuList.Count(p => p.ParentCategoryId == mp.CategoryId) > 0)
                {
                    @:<ul>
                    }
                @RenderMenuItem(menuList, mp)
                @if (menuList.Count(p => p.ParentCategoryId == mp.CategoryId) > 0)
                {
                    @:</ul>
            }
            </li>
        }
    </ul>
</nav>


@helper RenderMenuItem(List<Common.Models.Category> menuList, Common.Models.Category mi)
    {
        foreach (var cp in menuList.Where(p => p.ParentCategoryId == mi.CategoryId))
        {
            @:<li>
                @Html.ActionLink(cp.CategoryName, "_AdList", "Ad", new { id = cp.CategoryId }, null)
                if (menuList.Count(p => p.ParentCategoryId == cp.CategoryId) > 0)
                {
                    @:<ul>
                    }
                    @RenderMenuItem(menuList, cp)
                    if (menuList.Count(p => p.ParentCategoryId == cp.CategoryId) > 0)
                    {
                        @:</ul>
                }
                else
                {
                    @:</li>
            }
        }
}