<div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            @Html.Raw(ViewBag.Tree)
        </div>
    </div>
</div>
