<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8011/Service.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdService" 
                contract="AdService.IAdService"
                name="BasicHttpBinding_IAdService" />
    </client>
  </system.serviceModel>
</configuration>