@{
    ViewBag.Title = "Denied - ";
}
<div style="display: block; margin: 20%" align="center">
    <div class="h1 alert alert-danger" role="alert" style="text-align: center">
        Denied
    </div>
</div>
