nav {
    margin: 10px 0;
    background-color: #45818E;
    width: 100%;
}

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

        nav ul li {
            margin: 0px -7px 0 0;
            display: inline-block;
            background-color: #45818E;
        }

    nav a {
        display: block;
        padding: 0 10px;
        color: #FFF;
        font-size: 15px;
        line-height: 30px;
        text-decoration: none;
    }

        nav a:hover {
            background-color: #6A9AA5;
        }

    nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
    }

    nav ul li:hover > ul {
        display: inherit;
    }

    nav ul ul li {
        min-width: 170px;
        display: list-item;
        position: relative;
    }

    nav ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
    }